@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

li {
    background-color: gray;
    margin: 1px;
    padding: 10px;
    color: white;
}

a {
    display: block;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

li:hover {
    background-color: black;
}

#burguer {
    cursor: pointer;
}

menu {
    display: none;
}

main {
    width: 500px;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
}

@media screen and (min-width:768px) {
    span#burguer {
        display: none;
    }

    li {
        display: inline-block;
        width: 110px;
        margin: 0 -2px;
    }

    main {
        width: 900px;
    }
}

