@charset "UTF-8";

:root {
    --red: #D90416;
    --green: #97BF5A;
    --yellow: #F29F05;
    --orange: #D96704;
    --blank: #F2E7DC;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--blank);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: none;
}

a:visited {
    color: black;
}

.flex-container {
    display: flex;
    background: var(--red);
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    flex-grow: 8;
    padding: 10px;
    height: 100px;
}

.logo-menu {
    width: 80px;
    border-radius: 50px;
    margin: 0px;
    text-align: center;
}

.itens-menu {
    margin: 50px;
}

.lasanha-bg {
    width: 100%;
}

