* {
    font-family: "Lexend", sans-serif;
    font-weight: lighter;
    color: white;
}

:root {
    --azul: black;
    --branco: #FFFFFF;
    --font-padrao: "Lexend", sans-serif;
}

html, body, main, footer {
    background-color: var(--azul);
}

.social-icons {
    align-items: right;
}

.dama-navbar {
    background-color: var(--azul);
}

.logo-icon {
    width: 150px;
}

.social-icon {
    width: 40px;
}

.text-main {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 520px;
    padding-top: 100px;
}

.text-main > h1 {
    font-weight: 300;
}

.text-main > p {
    margin: 0;
}

.video-main {
    margin-top: 50px;
}

.div-hr {
    width: 70%;
    margin: auto;
    height: 1px;
    background: white;
    margin-bottom: 20px;
}

.quem-somos-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 20px;
}

.quem-somos-p {
    text-align: justify;
}

.quem-somos-main > article > h1 {    
    font-size: 3em;
    font-weight: lighter;
}