:root {
    --azul: #0E4462;
    --branco: #FFFFFF;
    --font-padrao: "Lexend", sans-serif;
}

html, body, main {
    background-color: var(--azul);
}

.dama-navbar {
    background-color: var(--azul);
}

header {
    align-items: center;
}


.navbar-img {
}

.logo-icon {
    width: 200px;
}

.social-icon {
    width: 40px;
}

#hamburguer {
    color: white;
}

@media screen {
    
}