:root {
    --azul: #0E4462;
    --branco: #FFFFFF;
    --font-padrao: "Lexend", sans-serif;
}

html, body, main {
    background-color: var(--azul);
}

.social-icons {
    align-items: right;
}

.dama-navbar {
    background-color: var(--azul);
}

.logo-icon {
    width: 150px;
}

.social-icon {
    width: 40px;
}