/*------- tabelafifa.html ----------*/

caption {
    background-image: url(/img/fifa.png);
    background-position: left center;
    background-size: cover;
    color: white;
    font-size: 1.2em;
    font-variant: small-caps;
    height: 350px;
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
    border: solid 1px;
    border-collapse: collapse;
}

thead > tr > th {
    position: sticky;
    top: 0;
    background-color: black;
}

th, tr, td {
    border: solid 1px;
    padding: 20px;
}

th {
    background-color: var(--preto);
    color: white;
}

tbody>tr:nth-child(even) {
    background-color: lightgray;
}
