@charset "UTF-8";
@font-face {
    font-family: gilroy-bold;
    src: url(../font/Gilroy-ExtraBold.otf) format(opentype);
}

@font-face {
    font-family: gilroy-light;
    src: url(../font/Gilroy-Light.otf) format(opentype);
}

@font-face {
    font-family: chronicle-display-bold;
    src: url(../font/Chronicle\ Display\ Black.otf) format(opentype);
}

:root {
    --fontLight: gilroy-light;
    --fontBold: gilroy-bold;
    --fontBold2: chronicle-display-bold;
}

* {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a {
    display: block;
}

body {
    background-image: url(../img/bg-montains.jpg);
    background-size: cover;
    position: relative;
    width: 100vw;
    font-size: 100%;
}

header {
    display: block;
    height: 30px;
    padding: 10px 0;
    text-align: right;
}

.div-logo {
    display: inline-block;
    font-size: 0.6em;
    position: absolute;
    left: 5%;
}

.div-logo > h1 {
    font-family: var(--fontBold2);
}

menu {
    display: none;
}

.menu-ul {
    float: right;
    width: 30%;
    list-style-type: none;
}

.menu-li {
    margin-right: 10px;
}

.menu-li > a {
    font-family: var(--fontLight);
}

.menu-li:hover {
    background-color: white;
}

#menu-hamburguer {
    margin-right: 10px;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    #menu-hamburguer {
        display: none;
    }

    menu {
        display: inline-block;
        position: relative;
    }

    .menu-ul {
        width: 100%;
    }

    .menu-ul > li > a {
        font-size: 1.2em;
    }

    .menu-li {
        display: inline-block;
        font-family: gilroy-light;
        font-size: 0.9em;
        list-style-type: none;
        padding: 0 5% 0 0;
    }

/* TEXTO DA HOME */

    #div-h1 {
        font-size: 2em;
        width: 600px;
    }
    #container-h6 {
        font-size: 1.4em;
        letter-spacing: 2px;
        width: 600px;
    }
    
    #hr-h6 {
        height: 5px;
    }
}

main {
    height: 100vh;
}

/* TEXTO DA HOME */

.text-home {
    margin-top: 100px;
}

    /* TEXTO H6 DA HOME */

.container-h6 {
    text-align: left;
    width: 300px;
    margin: auto;
}

.div-hr {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.hr-h6 {
    display: inline-block;
    width: 50px;
    height: 4px;
    border: solid 0.9px #FBD784;
    border-bottom: unset;
    border-left: unset;
    border-right: unset;
}

.div-h6 {
    display: inline-block;
    text-align: center;
    font-family: var(--fontLight);
    font-size: 1em;
    text-transform: uppercase;
    color: #FBD784;
}

    /* TEXTO H1 DA HOME */

.div-h1 {
    text-align: left;
    width: 300px;
    margin: auto;
    font-size: 1em;
    border: solid red;
}

