@charset "UTF-8";
@font-face {
    font-family: gilroy-bold;
    src: url(../font/Gilroy-ExtraBold.otf) format(opentype);
}

@font-face {
    font-family: gilroy-light;
    src: url(../font/Gilroy-Light.otf) format(opentype);
}

@font-face {
    font-family: chronicle-display-bold;
    src: url(../font/Chronicle\ Display\ Black.otf) format(opentype);
}

:root {
    --fontLight: gilroy-light;
    --fontBold: gilroy-bold;
    --fontBold2: chronicle-display-bold;
    --azul: #0B1D26;
}

* {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a {
    display: block;
}

html, body {
    background-image:  url(../img/casa\ de\ pedra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo hamburguer"
                        "null ul";
                        row-gap: 10px;
    height: 60px;
    padding: 10px 0 10px 20px;
}

.div-logo {
    grid-area: logo;
    align-self: center;
}

.div-logo > a {
    color: white;
    font-size: 0.7em;
    width: fit-content;
}

menu {
    display: none;
    grid-area: ul;
    justify-self: end;
}

.menu-ul {
    grid-area: ul;
    list-style-type: none;
    text-align: right;
    padding-right: 10px;
}

.menu-li {
    margin-right: 10px;
}

.menu-li > a {
    font-family: var(--fontLight);
    color: white;
}

.menu-li:hover {
    background-color: black;
}

#menu-hamburguer {
    display: grid;
    align-items: center;
    justify-items: right;
    padding-right: 20px;
    cursor: pointer;
    color: white;
}

main {
    background: linear-gradient(to top, var(--azul) 60%, rgba(238, 238, 238, 0));
}

@media screen and (min-width:768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "logo menu";
        height: 60px;
    }
    
    #menu-hamburguer {
        display: none;
    }

    menu {
        display: inline-block;
        grid-area: menu;
        width: 600px;
        align-self: center;
    }

    .menu-ul {
        width: 100%;
    }

    .menu-ul > li > a {
        font-size: 1.2em;
    }

    .menu-li {
        display: inline-block;
        font-family: gilroy-light;
        font-size: 0.9em;
        list-style-type: none;
        padding: 0 5% 0 0;
    }

/* texto da home */
    .text-home {
        display: block;
        width: 500px;
        margin: auto;
    }

    #div-h1 {
        font-size: 1.7em;
        width: 500px;
    }
    #container-h6 {
        display: inline-block;
        font-size: 0.8em;
        letter-spacing: 2px;
        width: 300px;
    }
    
    #hr-h6 {
        height: 5px;
    }

/* card */

    #container-card {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card {
        margin-left: 40px;
    }
}

/* texto da home */

.text-home {
    margin-top: 100px;
}

/* texto h6 da home */

.container-h6 {
    text-align: left;
    width: 300px;
    margin: auto;
}

.div-hr {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.hr-h6 {
    display: inline-block;
    width: 30px;
    height: 4px;
    border: solid 0.9px #FBD784;
    border-bottom: unset;
    border-left: unset;
    border-right: unset;
}

.div-h6 {
    display: inline-block;
    text-align: center;
    font-family: var(--fontLight);
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FBD784;
}

/* texto h1 da home */

.div-h1 {
    text-align: left;
    width: 300px;
    margin: auto;
    font-size: 1em;
    color: white;
}

/* card */

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.card {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 470px;
    height: 300px;
}

.card-h1 {
    font-size: 6em;
    position: absolute;
    font-family: var(--fontBold);
    color: white;
    opacity: 20%;
}

.card-content {
    width: 70%;
    color: white;
    padding: 50px 40px 0 50px;
}

.card-h2 {
    padding-top: 5px;
    font-family: var(--fontBold2);
}

.card-p {
    font-family: var(--fontLight);
}

.card-div-img {
    width: 30%;
}

.card-img {
    width: 130px;
    height: 300px;
}

.card-link {
    font-size: 0.7em;
    padding-top: 20px;
}

/* card-02 */

.card2-h1 {
    font-size: 6em;
    position: absolute;
    font-family: var(--fontBold);
    color: white;
    opacity: 20%;
    padding: 0 0 0 50px;
}

.card2-content {
    width: 70%;
    color: white;
    padding: 50px 0 0 100px;
}

/* ------ CAVERNAS.HTML ------ */

.cavernas-h1 {
    font-family: var(--fontBold);
    text-align: center;
    margin-top: 50px;
    color: white;
}

.caverna-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caverna-card {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 5px;
}

.caverna-text {
    text-align: center;
    font-family: var(--fontLight);
    font-size: 1.3em;
}

.caverna-img {
    width: 300px;
    border-radius: 0 0 5px 5px;
    filter: grayscale(50%);
}

.caverna-img:hover {
    transition: 100ms;
    filter: grayscale(0%);
}

/* ------ ROTEIROS.HTML ------ */

.main-roteiros {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    height: 100vh;
}

.roteiros {
    grid-column: 2 / 6;
    color: white;
    justify-self: center;
    align-self: center;
    font-family: var(--fontBold);
    font-size: 1.7em;
}

.parallax-fx {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 300px;
}

.h2-parallax {
    font-family: var(--fontBold);
    color: white;
    font-variant-caps: petite-caps;
}

.p-parallax {
    width: 300px;
    height: 251px;
    text-align: justify;
    color: white;
    background-color: rgba(0, 0, 0, 0.356);
    padding: 10px;
    font-family: var(--fontes-pattern);
    font-size: 0.8em;
}

.iniciante, .medio, .avancado {
    grid-column: 1 / -1;
}

.iniciante {
    background-image: url(../img/roteiro-turma.jpg);
}

.medio {
    background-image: url(../img/caverna-morropreto.jpg);
}

.avancado {
    background-image: url(../img/roteiro-turma.jpg);
}