@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(img/fundo-madeira.jpg);
    background-size: cover;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/frame-iphone.png);
    background-size: cover;
    height: 640px;
    width: 317px;
}

section {
    background-image: url(img/tela-home.jpg);
    background-size: cover;
    width: 273px;
    height: 481px;
    margin-top: 81px;
    margin-left: 22px;
}

nav {
    text-align: right;
    padding-top: 110px;
    margin-right: 15px;
}

nav a img {
    width: 70px;
    border-radius: 50px;
}

nav a img:hover {
    border: solid white 2px;
}

iframe {
    width: 274px;
    height: 484px;
}

.facebook {
    background-image: url(img/facebook.PNG);
    background-size: cover;
}

.insta {
    background-image: url(img/insta.PNG);
    background-size: cover;
}

.home {
    background-image: url(img/tela-home.jpg);
    background-size: cover;
}

img {
    width: 100%;
}

.acesse {
   background-color: red;
   margin-top: -5px;
   text-align: center;
   padding: 15px;
   color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1.2em;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}
